env:
  global:
    - COMMIT=${TRAVIS_COMMIT::8}

branches:
  only:
    - master

notifications:
  webhooks: https://coveralls.io/webhook?repo_token=EnGcvdrS3eau2ktEjkLEekqfFdohcMRaB

jobs:
  include:
    - stage: unit-test
      name: "Frontend"
      language: node_js
      node_js:
        - "10.15"
      dist: trusty
      addons:
        sonarcloud:
          organization: "swsnu"
          token:
            secure: "oCztTLlE4+z1mdVabhY+FcxLitW8Eft5HISn9vOd2bJActimNggunHb8BFrHWwqiX/wCvkI3e0Ojz2ZAVu8Hk1GVD2oENhV83hqTSxzzVC2yY4V4PnWIcLLHE2xOX3nULplXy9iZ+6U+jgSD35CVxxOLLzetLMEu9SiHIiPaNS8Jqo+AELiHl/RmYh3TFqUFv6qB61gJ9/xsf6g+g2l6I42wae17B2QDzmHf5Xw83UkhTO9t3S0pSmiDYMyxS99CVB4Hpm7eeF617IqZUici9gH5nDS3xl6oCFQs/Y3BWhZRG9zrdSmGOCzdbMVvMk7qhj36L4ESH9r5LijL/WlBGljpiwnbCV9Qgw/MwzWUqH925efxpUSRoA4U/0w07JGvIrov6SySe6xsOLQVdQ0iCDRT5ygv2IYu652AJNsBriMjobOfGNP8mSJLhWJZTdjKUSlGteJpq3lnPXjk20wSZM56oiue2rodGMNcoImq4RSB1vDgXbSx570fXR7Re18EbDqQHYpwvmeHGbySBW+ATTF76ZDz50uNSsIjvHOt7U5RKEi9YPXJLSb76wlBMpJA2PeP0ng/dfDU6qfmd6reNNj/B30tWMhiZx+RRJIdTlJwyYposlbKJHPD8rY5GT7VrL4boWSKTGEPU2nhKvITls0AvP4gwdioZs9vI8dhxaM="
      cache:
        npm: true
        yarn: true
      before_install:
        - cd ./frontend
      install:
        - yarn global add jest coveralls
        - yarn install
      script:
        - 'bash ./scripts/travis.sh'
        - sonar-scanner
        
    - stage: unit-test
      name: "Backend"
      language: python
      python:
        - "3.7"
      services:
        - docker
      cache:
        pip: true
      before_install:
        - pip install docker-compose
        - pip install coveralls
        - cd ./backend
      install:
        - pip install -r requirements/development.txt
      before_script:
        - 'docker-compose up -d'
        - 'python common/manage.py wait_for_redis --settings=common.settings.development'
      script:
        - 'bash ./scripts/travis.sh'
      after_success:
        - coveralls



