[flake8]
max-line-length = 100
exclude =
  migrations,
  __pycache__,
  manage.py,
  settings
  venv,
  models.py

[autopep8]
exclude =
  migrations,
  __pycache__,
  manage.py,
  settings
  venv,
  models.py